.carousel-inner img {
    width: 100%;
    height: 10%;
  }

  body {
    background-color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(212, 208, 208);
  }

  font {
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .conta {
    width: 100%;
    display: flex;
    padding: 0 20px;
  }

  .slid {
    height: 70vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 0.7s ease-in-out;
    /*filter: blur(4px);*/
  }

  .slid h3 {
    position: absolute;
    font-size: clamp(1rem, 1vw, 1rem);
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    background-color: white;
    background-image: linear-gradient(-225deg, white 0%, #ffe6fa 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .slid.active {
    flex: 10;
    filter: blur(0px);
  }

  .slid.active h3 {
    opacity: 3;
    transition: opacity 0.3s ease-in 0.4s;
  }

  .fonta {
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
  }

  .fontb {
    color: black;
  }

  .buttona {
    border-radius: 50%;
  }

  .buttona2 {
    border-radius: 20%;
  }

  .buttona3 {
    color: black;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
  }
  .buttona4 {
    color: white;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
  }
  
  .bg1 {
    background-image: url("../gmbr1.jpg");
  }

  .bg2 {
    background-image: url("../Pictures/th\ \(2\).jpg")
  }

  .bg3 {
    background-color: rgb(88, 88, 88);
  }

  .bg4 {
    background-color: rgb(255, 255, 255);
  }

  .bg5 {
    background-color: blue;
  }

  .margin1 {
    margin: 50px;
  }

  a {
    text-decoration: none;
  }

  .conta {
    width: 100%;
    display: flex;
    padding: 0 20px;
  }

  .slid {
    height: 100%;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 0.7s ease-in-out;
    /*filter: blur(4px);*/
  }

  .slid.active {
    flex: 10;
    filter: blur(0px);
  }

  .box {
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0, 2);
    border-radius: 10px;
    overflow: hidden;
    position: initial;
    left: 50%;
    top: 50%;
    transform: translate(0%, 0%);
  }

  .slide-img {
    height: 300px;
  }

  .slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .detail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }

  .type {
    display: flex;
    flex-direction: column;
  }

  .type a {
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
  }

  .type span {
    color: rgba(26, 26, 26, 0.5);
  }

  .price {
    color: #333333;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
  }

  .overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(92, 95, 236, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buy-btn {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  }

  .buy-btn:hover .overlay {
    color: #ffffff;
    background-color: #f15fa3;
    transition: all ease 0.3s;
  }

  .overlay {
    visibility: hidden;
  }

  .slide-img:hover .overlay {
    visibility: visible;
    animation: fade 0.5s;
  }

video {
    width: 100%;
    height: 100%;
}

.conta {
    width: 100%;
    display: flex;
    padding: 0 20px;
}

.slid {
    height: 50vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 0.7s ease-in-out;
    /*filter: blur(4px);*/
}

.slid h3 {
    position: absolute;
    font-size: clamp(1rem, 1vw, 1rem);
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    background-color: white;
    background-image: linear-gradient(-225deg, white 0%, #ffe6fa 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slid.active {
    flex: 10;
    filter: blur(0px);
}

.slid.active h3 {
    opacity: 3;
    transition: opacity 0.3s ease-in 0.4s;
}


.fonta {
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
}

.fontb {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sli {
  height: 100%;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.7s ease-in-out;
  /*filter: blur(4px);*/
}

.sli.active {
  flex: 10;
  filter: blur(0px);
}

.sli-img {
  height: 200px;
}

.over {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-45%, -50%);
  width: 100;
  height: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.over {
  visibility: hidden;
}

.sli-img:hover .over {
  visibility: visible;
  animation: fade 0.5s;
}

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }